/*-------------------------------
        Heading Design 
 ----------------------------------*/
 body{
  margin: 0;
 }
nav{
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin: 0 5%;
}
nav a{
  color: black;
  text-decoration: none;
  padding-left: 15px;
}
.menu-heading{
  font-size: 2em;
}
.menu-logo{
  margin-top: 20px;
}
.fa-shopping-cart{
 position: relative;
 margin-top: 20px;
}
#nav-toggler{
  display: none;
}
.nav-toggler-icon{
  display: none;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------------------
        Influencer Design 
 ----------------------------------*/
.influencer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  margin: 60px 5%;
  font-family: 'Poppins', sans-serif;

  font-family: 'Roboto', sans-serif;
}

.influencer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  }
.influencer-left{
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
.influencer-left h1{
  font-size: 3.5em;
  opacity: .85;
}
.influencer-left p{
  padding: 5px;
  margin-bottom: 10px;
  line-height: 1.8;
}
.influencer-right img{
  width: 100%;
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: 94%;
}

.button{
  font-size: 2em;
  text-decoration: none;
  color: aliceblue;
  background-color:	#c71585;
  padding: 5px 30px;
  margin: 30px 0px;
  border-radius: 35px;
}
.button i{
  padding-left: 15px;
  font-size: .80em;
}

/*-------------------------------
        E-commerce Design 
 ----------------------------------*/
.e-commerce{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin: 40px 5%;
  border-top: 2px inset #c0c0c0;
  border-bottom: 2px inset #808080;
  border-radius: 2px;
}
.e-commerce img{
width: 100px;
height: 40px;
margin: 15px;
}

/*-------------------------------
        Collection Design 
 ----------------------------------*/
.collection{
  margin: 60px 0;
}
 .collector{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  margin: 10px 5%;
}
.collection-title{
  font-size: 35px;
  text-align: center;
}
.collection-box{
display: grid;
padding: 20px;
margin: 10px;
background-color: honeydew;
border-radius: 15px;
box-shadow: 0 30px 35px rgba(0, 0, 0, .2);
}

.collection-box .pic img{
  width: 340px;
  height: 256px;
}
.details{
  align-items: center;
  justify-content: center;
}
.star-rate{
  font-size: 16px;
  font-weight: 700;
}
.fa-star{
  font-size: 12px;
  color: #ffc014;
  }
.fa-star-half-alt{
  font-size: 12px;
  color: #ffc014;
}

.button-2{  
  font-size: 1.3em;
  text-align: right;
  color:	#c71585;
  margin: 0 30px;
}

/*-------------------------------
        Feature Design 
 ----------------------------------*/
 .products{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px 5%;
}

.product-left img{
  width: 90%;
  padding: 10px;
}
.product-right{
  flex-direction: column;
  justify-content: center;
  line-height: 1.5;
  padding: 10px;
}
.product-right h1{
  font-size: 2.5em;
}
.product-right p{
  padding: 10px;
  font-size: 1.3em;
}
.product-right a{
  text-align: center;
}

/*-------------------------------
        Footer Design 
 ----------------------------------*/
.footer{
  color: #f5fffa;
  background-color: #080836;
  text-align: center;
  padding: 25px;
}
.footer .footer-logo i{
  color: white;
  background-color: gray;
  border: 5px;
  border-radius: 20PX;
  padding: 5px;
  margin-right: 15px;
}

/*-------------------------------
        Responsive Design 
 ----------------------------------*/
 @media (max-width: 600px){
  nav{
    font-size: 1.3em;
  }
  .menu-heading{
    font-size: 1.35em;
  }
  .menu-logo{
    margin-top: 20px;
  }

  .nav-toggler-icon{
    display: block;
  }
  .nav-toggler-icon .fa-bars{
    left: 0;
  }

  .menu-logo {
    position: fixed;
    top: 20px;
    right: 0;
    width: 12%;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    transform: translateY(-220px);
    transition: .5s ease-in-out;
  }

  #nav-toggler:checked ~ .menu-logo{
    transform: translateY(0px);
  }
  .fa-shopping-cart{
    margin-top: 0px;
  }

  .influencers, .collection, .featured, .e-commerces{
    width: 100%;
  }
  .influencer, .collector, .products{
    grid-template-columns: repeat(1, 1fr);
  }

  .influencer{
    margin: 60px 2%;
  }
  .influencer-left{
    order: 2;
  }
  .influencer-right{
    order: 1;
  }
  .influencer-left h1{
    font-size: 3em;
  }

  .collection-box .pic img{
    width: 256px;
    height: 200px;
  }

  .products{
    margin: 40px 2%;
  }
  .e-commerce{
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0;
    border-top: none;
    border-bottom: none;
  }
  .e-commerce img{
    width: 75px;
    height: 30px;
    margin: 10px;
    }
}

@media (min-width: 600px) and (max-width: 992px){
  .menu-heading{
    font-size: 1.5em;
  }
  .menu-logo{
    margin-top: 20px;
  }

  .nav-toggler-icon{
    display: block;
  }
  .nav-toggler-icon .fa-bars{
    left: 0;
  }

  .menu-logo {
    position: fixed;
    top: 20px;
    right: 0;
    width: 12%;
    align-items: center;
    background-color: grey;
    border-radius: 5px;
    transform: translateY(-220px);
    transition: .5s ease-in-out;
  }
  #nav-toggler:checked ~ .menu-logo{
    transform: translateY(0px);
  }

  .fa-shopping-cart{
    margin-top: 0px;
  }

  .influencers, .collection, .featured, .e-commerces{
    width: 100%;
  }
  .influencer, .collector, .products{
    grid-template-columns: repeat(2, 1fr);
  }

  .influencer-left h1{
    font-size: 3em;
  }
  .influencer-left p{
    font-size: 1.8em;
  }

  .collection-box .pic img{
    width: 256px;
    height: 200px;
  }
  
  .e-commerce{
    grid-template-columns: repeat(5, 1fr);
    border-top: none;
    border-bottom: none;
  }
}